body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #282c34;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

header img {
    height: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#dashboard {
    padding: 20px;
}

canvas {
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid #ccc;
}








